@charset "UTF-8";

@font-face {
  font-family: "GentiumBasic";
  font-display: swap;
  src: url("../fonts/GentiumBasic.woff") format("woff"), url("../fonts/GentiumBasic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  font-display: swap;
  src: url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLt";
  font-display: swap;
  src: url("../fonts/HelveticaLt.woff") format("woff"), url("../fonts/HelveticaLt.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadProBlack";
  font-display: swap;
  src: url("../fonts/MyriadProBlack.woff") format("woff"), url("../fonts/MyriadProBlack.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  font-display: swap;
  src: url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  font-display: swap;
  src: url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  font-display: swap;
  src: url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RageItalic";
  font-display: swap;
  src: url("../fonts/RageItalic.woff") format("woff"), url("../fonts/RageItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  font-display: swap;
  src: url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrowleft:before {
  content: "";
}

._icon-arrowright:before {
  content: "";
}

._icon-dribbble:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-google:before {
  content: "";
}

._icon-linkedIn:before {
  content: "";
}

._icon-mountains:before {
  content: "";
}

._icon-pinterest:before {
  content: "";
}

._icon-search:before {
  content: "";
}

._icon-simonsays:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

._icon-write:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.slider {
  position: relative;
}

.slider__body {
  z-index: 15;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 100px;
}

.item-main-slider {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 415px;
  position: relative;
}

.item-main-slider__content {
  position: relative;
  z-index: 2;
}

.item-main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title__item {
  font-family: OpenSansBold;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  width: 700px;
  margin: 0 auto;
}

.title__main {
  font-family: OpenSansRegular;
  font-size: 26px;
  color: white;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item-main-slider__text {
  font-family: OpenSansRegular;
  font-size: 26px;
  line-height: 41px;
  color: white;
  max-width: 815px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.controls-slider-arrows {
  position: absolute;
  top: 27%;
  left: 0;
  width: 100%;
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  z-index: 5;
}

.slider-arrow {
  width: 80px;
  height: 80px;
  background-color: white;
  color: #2e2e2e;
  font-size: 12px;
  cursor: pointer;
}

.main-slider {
  position: relative;
}

.main-slider .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  background-color: #010300;
  color: white;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}

.yoo,
.pin {
  font-family: MyriadProBlack;
  font-size: 41px;
  text-transform: uppercase;
}

.yoo {
  color: white;
  position: relative;
}

.pin {
  color: #df4507;
}

._icon-mountains {
  position: absolute;
  right: -25px;
  top: -25px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-li {
  font-size: 20px;
  margin-left: 35px;
}

.menu__body a {
  font-family: Myriadproregular;
  color: white;
  font-weight: 400;
  position: relative;
}

.menu__body a:hover {
  color: #df4507;
}

.menu__body a:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #df4507;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body a:hover:after {
  left: 0;
  width: 100%;
}

.menu__body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  padding: 40px 10px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 155px;
          flex: 0 1 155px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_icon_circle {
  width: 25px;
  height: 25px;
  background: #df4507;
  margin-left: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._icon-twitter,
._icon-facebook,
._icon-google,
._icon-pinterest {
  color: black;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 100px;
}

.footer-about {
  font-family: OpenSansBold;
  font-size: 18px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
}

.footer-ab-desc {
  margin-top: 10px;
  font-family: OpenSansRegular;
  font-size: 13px;
  line-height: 22px;
  color: white;
  margin-bottom: 35px;
  max-width: 440px;
}

.footer-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: RobotoRegular;
  font-size: 14px;
  padding: 7px 10px;
  margin-right: 15px;
}

.footer-fb {
  background-color: #3162a2;
}

.footer-twit {
  background-color: #2eb1eb;
}

.footer-drib {
  background-color: #f552b6;
}

.footer-linkedin {
  background-color: #457ac0;
}

.footer-icon span {
  margin-left: 5px;
  margin-top: 3px;
}

.menu-footer__title {
  font-family: OpenSansRegular;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.footer-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.footer__link {
  font-family: OpenSansRegular;
  font-size: 13px;
  line-height: 30px;
  color: white;
}

.footer__link:hover {
  color: #ea8259;
}

.footer__menu {
  padding-right: 110px;
}

.ft-mn-last {
  padding-right: 0;
}

.footer-social-links {
  max-width: 300px;
}

._init .menu-footer__title::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

._init .menu-footer__title:before {
  content: "";
}

._init .menu-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._init .menu-footer__title::before {
  font-size: 12px;
  transition: -webkit-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu-footer__title._active::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer-bottom {
  background-color: black;
}

.footer-bottom-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

small {
  font-family: RobotoRegular;
  font-size: 13px;
  line-height: 36px;
  color: white;
}

.footer-bee {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.main-banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-banner-content {
  padding: 5px 0;
  position: relative;
  z-index: 15;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: OpenSansBold;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-banner-psdfree {
  font-family: OpenSansRegular;
  font-size: 26px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.main-banner-text {
  font-family: OpenSansRegular;
  font-size: 26px;
  line-height: 41px;
  color: white;
  text-align: center;
  max-width: 815px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.btn {
  background-color: white;
  border-radius: 5px;
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
  padding: 5px 16px 5px 20px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 10;
}

.btn:after {
  content: "";
  width: 0;
  position: absolute;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  left: 50%;
  top: 0;
  background-color: #df4507;
  opacity: 0.8;
  height: 100%;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn:hover:after {
  left: 0;
  width: 100%;
}

.item-main-slider__btn {
  margin: 0 20px;
}

._no-webp .background-section, ._no-webp .footer-top{
  background: url(../img/backgroundGrey.png); }

.background-section,
.footer-top {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 0;
}

.welcome-section {
  max-width: 1235px;
  margin: 0 auto;
  background-color: #df4507;
  padding: 60px 70px 55px 70px;
}

.welcome-section-top {
  margin-top: -385px;
  position: relative;
  z-index: 20;
}

.welcome-section-title {
  font-family: HelveticaNeue;
  font-size: 30px;
  color: white;
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 30px;
}

.welcome-section-title:after {
  content: "";
  height: 5px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ea8259;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -52.5px;
  bottom: 0;
}

.welcome-section-text {
  margin: 0 auto;
  font-family: OpenSansRegular;
  font-size: 15px;
  line-height: 24px;
  color: white;
  text-align: center;
  max-width: 995px;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.welcome-section-text._active-animation {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

._icon-write,
._icon-search,
._icon-simonsays {
  font-size: 55px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.feature-title {
  font-family: OpenSansBold;
  font-size: 18px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  display: block;
}

.welcome-feature-descript {
  font-family: OpenSansRegular;
  font-size: 15px;
  line-height: 24px;
  color: white;
  text-align: center;
  max-width: 315px;
}

._anim-show {
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
}

._anim-show._active-animation,
._active-animation ._anim-show {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

._anim-show._active-animation,
._active-animation ._anim-show.wfd-1 {
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

._anim-show._active-animation,
._active-animation ._anim-show.wfd-2 {
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

._anim-show._active-animation,
._active-animation ._anim-show.wfd-3 {
  -webkit-transition: all 0.8s ease 1.6s;
  -o-transition: all 0.8s ease 1.6s;
  transition: all 0.8s ease 1.6s;
}

/*
.welcome-feature-descript._active-animation.wfd-1{
	transition: all 0.8s ease 0.4s;
}
.welcome-feature-descript._active-animation.wfd-2{
	transition: all 0.8s ease 1s;
}
.welcome-feature-descript._active-animation.wfd-3{
	transition: all 0.8s ease 1.6s;
}*/

.welcome-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px -35px 0 -35px;
}

.welcome-feature {
  padding: 0 35px;
  border-right: 1px solid white;
}

.welcome-feature:last-child {
  border: none;
}

.ceo-section {
  max-width: 890px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 120px 10px 130px 10px;
}

.ceo-text {
  font-family: OpenSansRegular;
  font-size: 22px;
  line-height: 36px;
  color: white;
  max-width: 490px;
  text-align: center;
  position: relative;
}

.ceo-signat {
  font-family: RageItalic;
  font-size: 52px;
  line-height: 36px;
  color: white;
  text-align: center;
  max-width: 200px;
  -webkit-transform: translate(85%, 30%) rotate(-15deg);
      -ms-transform: translate(85%, 30%) rotate(-15deg);
          transform: translate(85%, 30%) rotate(-15deg);
}

.ceo-text:before {
  content: url(../img/qav-before.png);
  display: block;
  position: absolute;
  top: -5px;
  left: -105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ceo-text:after {
  content: url(../img/qav-after.png);
  display: block;
  position: absolute;
  bottom: -50px;
  right: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-section {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  padding-bottom: 115px;
}

.news-section-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

.news-item__content {
  position: relative;
  z-index: 30;
}

.title {
  font-family: HelveticaLt;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 30;
  display: block;
  letter-spacing: 1px;
}

.news-section-title {
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.news-section-title:after {
  content: "";
  height: 5px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #5a5959;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -52.5px;
  bottom: 0;
}

.news-item-title {
  font-family: OpenSansBold;
  font-size: 18px;
  line-height: 36px;
  color: #ffa784;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.news-item__btn {
  background-color: #df4507;
  color: white;
}

.news-section-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.news-events-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3%;
          flex: 1 1 33.3%;
}

.item-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.news-item__content {
  position: relative;
  z-index: 52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 10px;
}

.news-item-text {
  font-family: OpenSansRegular;
  font-size: 15px;
  line-height: 24px;
  color: white;
  max-width: 255px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 25px;
}

.products-section {
  padding: 50px 15px 100px 15px;
  background-color: #df4507;
}

.products-title {
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.products-title:after {
  content: "";
  height: 5px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ea8259;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -52.5px;
  bottom: 0;
}

.products-text {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 40px;
}

.products-row {
  margin: 0 auto;
  max-width: 1200px;
}

.products-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -50px;
}

.products-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
}

.products-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-tt {
  color: white;
  text-align: left;
  border-bottom: 1px solid white;
}

.products-mode {
  max-height: 140px;
  overflow: hidden;
  text-align: left;
  margin: 30px 0 40px 0;
}

.products__btn {
  max-width: 115px;
}

.products-picture {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 30px;
}

.video-section {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 55px;
  padding-bottom: 60px;
}

.video-section-title {
  font-family: HelveticaLt;
  font-size: 30px;
  line-height: 37px;
  color: white;
  letter-spacing: normal;
  padding-bottom: 30px;
}

.video-link {
  font-family: HelveticaBold;
  font-weight: 700;
  color: white;
}

.video-section-title:after {
  content: "";
  height: 5px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #5a5959;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -52.5px;
  bottom: 0;
}

.video-container {
  max-width: 550px;
  margin: 0 auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__item {
  width: 400px;
  position: relative;
}

.video__item video,
.item__video iframe {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 50;
}

._video video {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 50;
}

.items {
  padding-right: 0;
  padding-left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.items__container {
  max-width: 550px;
  padding: 0px 15px;
  margin: 0px auto;
}

.items__body {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.item__video {
  position: relative;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 56% 0px;
}

.item__video video,
.item__video iframe {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item__text {
  font-size: 18px;
  line-height: 150%;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1442px) {
  ._container {
    max-width: 970px;
  }

  .item-main-slider__text {
    max-width: 600px;
  }

  .header__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-li {
    font-size: 20px;
    margin-left: 15px;
  }

  .social_icon_circle {
    margin-left: 5px;
  }

  .yoo,
  .pin {
    font-size: 35px;
  }

  .menu__body ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-li {
    margin-bottom: 5px;
  }

  .menu__body {
    padding: 25px 10px;
  }

  .welcome-section {
    padding: 50px 50px 45px 50px;
  }

  .ceo-text {
    font-size: 18px;
    line-height: 32px;
  }

  .ceo-signat {
    font-size: 48px;
    line-height: 32px;
    -webkit-transform: translate(50%, 30%) rotate(-15deg);
        -ms-transform: translate(50%, 30%) rotate(-15deg);
            transform: translate(50%, 30%) rotate(-15deg);
  }

  .ceo-section {
    padding: 120px 10px 130px 85px;
  }
}

@media (max-width: 1430px) {
  .slider__slide {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1110));
  }

  .item-main-slider {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1110));
  }

  .item-main-slider {
    padding-bottom: calc(200px + 215 * ((100vw - 320px) / 1110));
  }

  .title__item {
    font-size: calc(15px + 35 * ((100vw - 320px) / 1110));
  }

  .title__main {
    font-size: calc(14px + 12 * ((100vw - 320px) / 1110));
  }

  .title__main {
    margin-top: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .title__main {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .item-main-slider__text {
    font-size: calc(14px + 12 * ((100vw - 320px) / 1110));
  }

  .item-main-slider__text {
    line-height: calc(20px + 21 * ((100vw - 320px) / 1110));
  }

  .controls-slider-arrows {
    padding-left: calc(10px + 190 * ((100vw - 320px) / 1110));
  }

  .controls-slider-arrows {
    padding-right: calc(10px + 190 * ((100vw - 320px) / 1110));
  }

  .slider-arrow {
    width: calc(35px + 45 * ((100vw - 320px) / 1110));
  }

  .slider-arrow {
    height: calc(35px + 45 * ((100vw - 320px) / 1110));
  }

  .footer-container {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 1110));
  }

  .footer-container {
    padding-bottom: calc(20px + 80 * ((100vw - 320px) / 1110));
  }

  .footer__menu {
    padding-right: calc(15px + 95 * ((100vw - 320px) / 1110));
  }

  h1 {
    font-size: calc(15px + 35 * ((100vw - 320px) / 1110));
  }

  .main-banner-psdfree {
    font-size: calc(14px + 12 * ((100vw - 320px) / 1110));
  }

  .main-banner-text {
    font-size: calc(14px + 12 * ((100vw - 320px) / 1110));
  }

  .main-banner-text {
    line-height: calc(20px + 21 * ((100vw - 320px) / 1110));
  }

  .welcome-section-top {
    margin-top: calc(-170px + -215 * ((100vw - 320px) / 1110));
  }

  .news-section {
    padding-top: calc(25px + 55 * ((100vw - 320px) / 1110));
  }

  .news-section {
    padding-bottom: calc(35px + 80 * ((100vw - 320px) / 1110));
  }

  .video-section {
    padding-top: calc(15px + 40 * ((100vw - 320px) / 1110));
  }

  .video-section {
    padding-bottom: calc(20px + 40 * ((100vw - 320px) / 1110));
  }

  .items {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .items {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1110));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .item-main-slider__text {
    max-width: 400px;
  }

  .title__item {
    max-width: 600px;
  }

  .footer-container {
    display: block;
  }

  .footer-col-right {
    margin-top: 30px;
  }

  .welcome-section {
    padding: 50px 20px;
  }

  .welcome-features {
    display: block;
    border: none;
  }

  .welcome-feature-descript {
    max-width: 100%;
  }

  .welcome-feature:nth-child(1),
  .welcome-feature:nth-child(2) {
    border: none;
    margin-bottom: 15px;
  }

  .welcome-feature-descript {
    padding: 20px 0;
  }

  ._anim-show._active-animation,
  ._active-animation ._anim-show.wfd-1 {
    -webkit-transition: all 0.8s ease 0.5s;
    -o-transition: all 0.8s ease 0.5s;
    transition: all 0.8s ease 0.5s;
  }

  ._anim-show._active-animation,
  ._active-animation ._anim-show.wfd-2 {
    -webkit-transition: all 0.8s ease 0.8s;
    -o-transition: all 0.8s ease 0.8s;
    transition: all 0.8s ease 0.8s;
  }

  ._anim-show._active-animation,
  ._active-animation ._anim-show.wfd-3 {
    -webkit-transition: all 0.8s ease 1.1s;
    -o-transition: all 0.8s ease 1.1s;
    transition: all 0.8s ease 1.1s;
  }

  .ceo-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 120px 95px 130px 120px;
  }

  .ceo-text,
  .ceo-signat {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .ceo-signat {
    margin-top: 30px;
  }

  .products-content {
    display: block;
  }

  .products-column {
    margin-bottom: 40px;
  }

  .products-column:last-child {
    margin-bottom: 0;
  }

  .products-tt {
    max-width: 240px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .title__item {
    max-width: 400px;
  }

  .item-main-slider__text {
    max-width: 300px;
  }

  .header__content {
    padding: 25px 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .logo,
  .social-links {
    position: relative;
    z-index: 5;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 70px;
    left: -100%;
    background-color: black;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 20;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: black;
    z-index: 2;
  }

  .menu__body:before._active {
    left: 0;
  }

  .menu__body ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }

  .menu__body li {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .icon-menu {
    display: none;
  }

  .footer-col-right {
    display: block;
  }

  .footer__menu {
    margin-bottom: 15px;
  }

  .footer-bottom-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  small {
    width: 100%;
  }

  .products-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .ceo-section {
    padding: 70px 95px 80px 120px;
  }

  .news-section-body {
    display: block;
  }

  .news-item-text {
    max-width: 80%;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 15;
    margin-top: 8px;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #df4507;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 479.98px) {
  .title__item {
    max-width: 280px;
  }

  .item-main-slider__text {
    max-width: 220px;
  }

  .item-main-slider__btn {
    margin-bottom: 10px;
  }

  .icon-menu {
    margin-left: 10px;
  }

  .header__content {
    padding: 25px 7px;
  }

  ._icon-facebook,
  ._icon-google,
  ._icon-pinterest,
  ._icon-twitter {
    font-size: 14px;
  }

  .social_icon_circle {
    width: 22px;
    height: 22px;
  }

  .pin,
  .yoo {
    font-size: 30px;
  }

  .footer-icon {
    margin-right: 5px;
    padding: 5px;
  }

  .footer-icon span {
    font-size: 12px;
  }

  ._icon-search,
  ._icon-simonsays,
  ._icon-write {
    font-size: 40px;
  }

  .welcome-section-text {
    margin-bottom: 60px;
  }

  .ceo-section {
    padding: 70px 20px 80px 30px;
  }

  .ceo-signat {
    font-size: 40px;
    margin-left: -75px;
    margin-top: 10px;
  }

  .products-picture {
    display: none;
  }
}

._webp .background-section, ._webp .footer-top{ background: url(../img/backgroundGrey.webp); }